// header {
//     width: 100%;
//     background-color: rgba(255, 255, 255, 0.535);
//     backdrop-filter: blur(30px);
//     position: fixed;
//     top: 0;

//     .nav {
//         @include navStyle(space-between, center, 0);

//        .moskva{
//          background-color: red;
//          .vash__gorod{
//             height: 51px;
//             display: flex;
//             column-gap: 9px;
//             align-items: center;
//             background-color: red;
//             //

//             &-2{
//                 display: flex;
//                 column-gap: 8px;
//             }
//         }
//        }
//         }

//         &__list {
//             display: flex;
//             column-gap: 7px;

//             &--item {
//                 list-style-type: none;

//                 &-link {
//                     text-decoration: none;
//                     text-transform: uppercase;
//                     color: #030f1a;

//                     &:hover {
//                         color: silver;
//                     }
//                 }
//             }

//         }

//     }

.moskva {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 51px;
  font-family: "Pro Medium";
}

nav {
  background-color: #f9f9f9;
  //   background-color: red;
}

.vash__gorod {
  display: flex;
  column-gap: 9px;
  cursor: pointer;
}

.vash__gorod-2 {
  display: flex;
  column-gap: 8px;
}

.nav__list img:hover {
  box-shadow: 0 0 6px black;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.vash-text-2 {
  color: #0071e4;
  cursor: pointer;
  // text-decoration: underline;
}

.sub-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  font-family: "Pro Medium";
  // margin-top: 29px;
  height: 94px;

  button {
    font-family: "Pro Medium";
    font-size: 16px;
    border: none;
    width: 90px;
    height: 25px;
    background-color: #fdefbf;
    border-radius: 8px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 8px;
  }
}

.sub-nav__list p:hover {
  color: blue;
  transition: all 0.7s ease;
  cursor: pointer;
  text-decoration: underline;
}

.tel {
  display: flex;
  column-gap: 8px;
  p {
    padding-top: 20px;
  }
  // align-items: center;
  // justify-content: space-between;
}

.sub-nav-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;

  button {
    display: flex;
    align-items: center;
    width: 215px;
    height: 56px;
    border-radius: 16px;
    padding: 16px;
    gap: 4px;
    border: none;
    background-color: #0071e4;
    color: #fff;
  }
  button:hover {
    box-shadow: 0 0 10px black;
    transition: all 2s ease;
  }
  button:active {
    background-color: #fff;
    color: #0071e4;
    transition: all 0.5s ease;
  }
  .input {
    width: 594px;
    height: 56px;
    background: #ffffff;
    border: 1px solid #b7b7b7;
    border-radius: 8px;
    gap: 8px;
    display: flex;
    padding: 16px 24px;
    .inner-input {
      border: none;
      outline: none;
      .inner-input::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #b7b7b7;
      }
    }
  }
  .green {
    display: flex;
    align-items: center;
    width: 215px;
    height: 56px;
    border-radius: 16px;
    padding: 15px 40px;
    gap: 8px;
    border: none;
    background-color: #52d116;
    color: #fff;
  }
  .green:hover {
    box-shadow: 0 0 10px black;
    transition: all 2s ease;
  }
  .green:active {
    background-color: #fff;
    transition: all 0.5s ease;
  }
}

.sub-nav-3 {
  font-family: "Pro Medium";
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 22px;
  background-color: #fff;
}

.sub-nav-3 img:last-child:hover {
  box-shadow: 0 0 10px black;
  border-radius: 8px;
  transition: all 2s ease;
}

// .sub-nav-3 img:hover{
//   background-color: #0071e4;
// }

.sub-nav-3 p:hover {
  color: blue;
  transition: all 0.7s ease;
  cursor: pointer;
}
.resp-nav {
  display: none;
}

.left-ip {
  display: none;
}

@media only screen and (max-width: 768px) {
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    nav {
      // display: none;
      .moskva {
        display: none;
        background-color: #52d116;
      }
    }
  }
  .sub-nav {
    display: none;
  }
  .sub-nav-2 {
    display: none;
  }
  .sub-nav-3 {
    display: none;
  }
  .resp-nav {
    display: block;
    display: flex;
    .input {
      width: 400px;
      height: 56px;
      background: #ffffff;
      border: 1px solid #b7b7b7;
      border-radius: 8px;
      gap: 8px;
      display: flex;
      padding: 16px 24px;
      margin-left: 50px;
      margin-right: 100px;
      .inner-input {
        border: none;
        outline: none;
        .inner-input::placeholder {
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          color: #b7b7b7;
        }
      }
    }
    .menu {
      display: flex;
      align-items: center;
      p {
        margin-left: 8px;
        margin-right: 10px;
      }
    }
  }
}

.lupa{
  display: none;
}

@media only screen and (max-width: 480px) {
  .resp-nav {
    display: flex;
    // justify-content: space-between;
    width: 320px;
    height: 40px;
    column-gap: 200px;
    // display: none;
    .input {
      display: none;
      border: none;
      .inner-input {
        display: none;
        }
      }
    }
    .menu {
      
      .lupa{
        display: block;
        
      }
      display: flex;
      // align-items: center;
      // justify-content: space-between;
      column-gap: 40px;

      p {
      display: none;
      }
    }
  }
