// #main{
//     background-color: coral;
//     background-image: url("https://picsum.photos/id/124/1800/1200");
//     @extend %coverImg;
//     @extend %center;
// }

// @media only screen and (max-width:375px){
//     #main{
//         background-color: coral;
//         background-image: url("https://picsum.photos/id/122/1800/1200");
//         @extend %coverImg;
//         background-size: contain;
//         @extend %center;
//     }
// }

#main {
  background-color: #d0eafc;
}

.wrapper-main {
  margin-top: 8px;
  height: 480px;
  // background-color: #d0eafc;
  display: flex;
  overflow: hidden;
}
.iphone {
  margin-top: 99px;
}

.wrapper-2 {
  display: flex;
  align-items: center;
  column-gap: 120px;
  margin-top: 60px ;
}

.right {
  // margin-top: -70px;
  margin-left: -80px;

  button {
    width: 160px;
    height: 56px;
    background-color: #0071e4;
    border-radius: 10px;
    border: none;
    color: white;
  }
  button:hover {
    box-shadow: 0 0 8px black;
    transition: all 2s ease;
  }

  button:active {
    background-color: #fff;
    color: #0071e4;
    transition: all 0.5s ease;
  }
}

.narx {
  display: flex;
  align-items: end;

  p {
    font-family: "Pro Regular";
    font-weight: 400;
    font-size: 32px;
  }
  h2 {
    font-family: "Pro Regular";
    font-weight: 400;
    font-size: 48px;
  }
  margin-bottom: 19px;
}

.wrapper-body {
  font-family: "Pro Regular";
  .big-card {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
  }
  h1 {
    // font-family: "Pro Medium" ;
    width: 513px;
    height: 57px;
    font-size: 48px;
    margin-top: 24px;
    margin-left: 350px;
  }
  h2 {
    margin-top: 40px;
    color: #0071e4;
    width: 208px;
    height: 29px;
    font-size: 24px;
  }
  .card:hover {
    box-shadow: 0 0 16px black;
    transition: all 2s ease;
  }
  .card {
    margin-top: 24px;
    width: 282px;
    height: 611px;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    display: flex;
    flex-direction: column;

    .xs {
      width: 266px;
      height: 58px;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: #100e0e;
      padding-left: 5px;
      margin-bottom: 9px;
    }
    .garantiya {
      margin-top: 16px;
      display: flex;
      column-gap: 15px;
      padding-left: 5px;
      margin-bottom: 4px;
    }
    .cena {
      display: flex;
      align-items: center;
      padding-left: 5px;
      column-gap: 16px;
      .cena-2 {
        width: 89px;
        height: 24px;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-decoration-line: line-through;
        color: #878787;
      }
      .cena-3 {
        width: 145px;
        height: 38px;
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
        color: #100e0e;
      }
    }

    .card-img {
      margin-top: 19px;
      display: flex;
      justify-content: space-between;
      column-gap: 4px;
      align-items: center;
    }
    button {
      margin-top: 16px;
      margin-bottom: 8px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px;
      gap: 8px;
      width: 266px;
      height: 56px;
      background: #0071e4;
      border-radius: 8px;
      border: none;
      color: #fff;
      margin-left: 7px;
    }
    button:hover {
      box-shadow: 0 0 8px black;
      background: #6fd91c;
      transition: all 2s ease;
    }
    button:active {
      background: #fff;
      color: #0071e4;
      transition: all 0.5s ease;
    }

    .bottom {
      display: flex;
      justify-content: space-between;
    }
  }
}

.wrapper-text {
  margin-top: 72px;
  h1 {
    width: 687px;
    height: 38px;
    font-family: "Pro Bold";
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #100e0e;
    margin-bottom: 22px;
  }
  p {
    width: 1200px;
    height: 228px;
    font-family: "Pro Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #585656;
  }
}

.wrapper-black {
  margin-top: 32px;
  background-color: black;
}

.wrapper-black-2 {
  display: flex;
  align-items: center;
  h2 {
    width: 467px;
    height: 67px;
    margin-left: 88px;
    font-family: "Pro Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 67px;
    color: #ffffff;
    margin-bottom: 16px;
  }
  p {
    width: 279px;
    height: 29px;
    margin-left: 88px;
    font-family: "Pro Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    margin-bottom: 24px;
  }
  button {
    margin-left: 88px;
    width: 160px;
    height: 56px;
    background: #0071e4;
    border-radius: 8px;
    border: none;
    color: #fff;
  }
  button:hover {
    box-shadow: 0 0 8px black;
    background: white;
    transition: all 0.5s ease;
    color: #0071e4;
  }
  button:active {
    background: #7c6464;
    color: #0071e4;
    transition: all 0.5s ease;
    color: #100e0e;
  }
}

// #delivery {
//   h2 {
//     text-align: center;
//     height: 38px;
//     font-family: "Pro Bold";
//     font-style: normal;
//     font-weight: 700;
//     font-size: 32px;
//     line-height: 38px;
//     color: #100e0e;
//     margin-top: 56px;
//     margin-bottom: -24px;
//   }
// }
// .wrapper-delivery {
//   margin-top: 80px;
//   display: flex;
//   column-gap: 15px;

//   .card:hover {
//     box-shadow: 0 0 16px black;
//     transition: all 0.5s ease;
//   }
//   .card-2:hover {
//     box-shadow: 0 0 16px black;
//     // transition: all 2s ease;
//   }
//   .card-3:hover {
//     box-shadow: 0 0 16px black;
//     // transition: all 2s ease;
//   }
//   .card-4:hover {
//     box-shadow: 0 0 16px black;
//     // transition: all 2s ease;
//   }
//   .card-5:hover {
//     box-shadow: 0 0 16px black;
//     // transition: all 2s ease;
//   }
//   button:hover {
//     box-shadow: 0 0 8px black;
//     background: white;
//     transition: all 0.5s ease;
//     color: #0071e4;
//   }
//   button:active {
//     background: #7c6464;
//     color: #0071e4;
//     transition: all 0.5s ease;
//     color: #100e0e;
//   }

//   .card {
//     width: 228px;
//     height: 500px;
//     background: linear-gradient(180.04deg, #fe94a6 0.04%, #f2f2f2 65.84%);
//     border-radius: 16px;
//     // text-align: center;
//     display: flex;
//     // flex-wrap: wrap;
//     flex-direction: column;
//     align-items: center;
//     // justify-content: end;
//     img {
//       padding: 24px 34px 0 34px;
//     }
//     h2 {
//       // margin-top: -30px;
//       // width: 212px;
//       // height: 29px;
//       font-family: "Pro Bold";
//       font-style: normal;
//       font-weight: 700;
//       font-size: 24px;
//       line-height: 29px;
//       text-align: center;
//       color: #100e0e;
//       padding-left: 10px;
//     }
//     p {
//       // width: 212px;
//       // height: 76px;
//       font-family: "Pro Regular";
//       font-style: normal;
//       font-weight: 400;
//       font-size: 16px;
//       line-height: 19px;
//       text-align: center;
//       color: #585656;
//       margin-bottom: 117px;
//     }
//     button {
//       box-sizing: border-box;
//       gap: 8px;
//       width: 212px;
//       height: 56px;
//       border: 1px solid #0071e4;
//       border-radius: 8px;
//       // flex: none;
//       // order: 0;
//       // flex-grow: 1;
//     }
//   }
//   .card-2 {
//     width: 228px;
//     height: 500px;
//     left: 363px;
//     top: 102px;

//     background: linear-gradient(180.04deg, #e685ff 0.04%, #f2f2f2 65.84%);
//     border-radius: 16px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     img {
//       padding: 24px 34px 0 34px;
//     }
//     h2 {
//       width: 212px;
//       height: 58px;
//       font-family: "Pro Bold";
//       font-style: normal;
//       font-weight: 700;
//       font-size: 24px;
//       line-height: 29px;
//       text-align: center;
//       color: #100e0e;
//       margin-bottom: 16px;
//     }
//     p {
//       width: 212px;
//       height: 114px;
//       font-family: "Pro Regular";
//       font-style: normal;
//       font-weight: 400;
//       font-size: 16px;
//       line-height: 19px;
//       text-align: center;
//       color: #585656;
//       margin-bottom: 42px;
//     }
//     button {
//       box-sizing: border-box;
//       gap: 8px;
//       width: 212px;
//       height: 56px;
//       border: 1px solid #0071e4;
//       border-radius: 8px;
//     }
//   }
//   .card-3 {
//     width: 228px;
//     height: 500px;
//     left: 606px;
//     top: 102px;

//     background: linear-gradient(180.04deg, #7de9ff 0.04%, #f2f2f2 65.84%);
//     border-radius: 16px;
//     img {
//       padding: 24px 34px 0 34px;
//     }
//     h2 {
//       width: 212px;
//       height: 58px;
//       font-family: "Pro Bold";
//       font-style: normal;
//       font-weight: 700;
//       font-size: 24px;
//       line-height: 29px;
//       text-align: center;
//       color: #100e0e;
//       margin-bottom: 16px;
//       margin-left: 7px;
//     }
//     p {
//       width: 212px;
//       height: 57px;
//       font-family: "Pro Regular";
//       font-style: normal;
//       font-weight: 400;
//       font-size: 16px;
//       line-height: 19px;
//       text-align: center;
//       color: #585656;
//       margin-bottom: 94px;
//     }
//     button {
//       box-sizing: border-box;
//       gap: 8px;
//       width: 212px;
//       height: 56px;
//       border: 1px solid #0071e4;
//       border-radius: 8px;
//       margin-left: 7px;
//     }
//   }
//   .card-4 {
//     width: 228px;
//     height: 500px;
//     left: 849px;
//     top: 102px;

//     background: linear-gradient(180.04deg, #ffe685 0.04%, #f7f7f7 65.84%);
//     border-radius: 16px;
//     img {
//       padding: 24px 34px 0 34px;
//     }
//     h2 {
//       width: 212px;
//       height: 29px;
//       font-family: "Pro Bold";
//       font-style: normal;
//       font-weight: 700;
//       font-size: 24px;
//       line-height: 29px;
//       text-align: center;
//       color: #100e0e;
//       margin-left: 5px;
//       margin-bottom: 16px;
//     }
//     p {
//       width: 212px;
//       height: 76px;
//       font-family: "Pro Regular";
//       font-style: normal;
//       font-weight: 400;
//       font-size: 16px;
//       line-height: 19px;
//       text-align: center;
//       color: #585656;
//       margin-bottom: 103px;
//     }
//     button {
//       box-sizing: border-box;
//       gap: 8px;
//       width: 212px;
//       height: 56px;
//       border: 1px solid #0071e4;
//       border-radius: 8px;
//       margin-left: 7px;
//     }
//   }
//   .card-5 {
//     width: 228px;
//     height: 500px;
//     left: 1092px;
//     top: 102px;

//     background: linear-gradient(180.04deg, #adffc1 0.04%, #f2f2f2 65.84%),
//       #f2f2f2;
//     border-radius: 16px;

//     img {
//       padding: 24px 34px 0 34px;
//     }
//     h2 {
//       width: 212px;
//       height: 29px;
//       font-family: "Pro Bold";
//       font-style: normal;
//       font-weight: 700;
//       font-size: 24px;
//       line-height: 29px;
//       text-align: center;
//       color: #100e0e;
//       margin-bottom: 16px;
//     }
//     p {
//       width: 212px;
//       height: 95px;
//       font-family: "Pro Regular";
//       font-style: normal;
//       font-weight: 400;
//       font-size: 16px;
//       line-height: 19px;
//       text-align: center;
//       color: #585656;
//       margin-bottom: 83px;
//     }
//     button {
//       box-sizing: border-box;
//       gap: 8px;
//       width: 212px;
//       height: 56px;
//       border: 1px solid #0071e4;
//       border-radius: 8px;
//       margin-left: 7px;
//     }
//   }
// }
.wrapper-delivery {
  margin-top: 80px;
  display: flex;
  column-gap: 15px;
  .card:hover {
    box-shadow: 0 0 16px black;
    transition: all 0.5s ease;
  }
  .card-2:hover {
    box-shadow: 0 0 16px black;
    // transition: all 2s ease;
  }
  .card-3:hover {
    box-shadow: 0 0 16px black;
    // transition: all 2s ease;
  }
  .card-4:hover {
    box-shadow: 0 0 16px black;
    // transition: all 2s ease;
  }
  .card-5:hover {
    box-shadow: 0 0 16px black;
    // transition: all 2s ease;
  }
  button:hover {
    box-shadow: 0 0 8px black;
    background: white;
    transition: all 0.5s ease;
    color: #0071e4;
  }
  button:active {
    background: #7c6464;
    color: #0071e4;
    transition: all 0.5s ease;
    color: #100e0e;
  }
  h2 {
    text-align: center;
    height: 38px;
    font-family: "Pro Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #100e0e;
  }
  .card {
    width: 228px;
    height: 500px;
    background: linear-gradient(180.04deg, #fe94a6 0.04%, #f2f2f2 65.84%);
    border-radius: 16px;
    // text-align: center;
    display: flex;
    // flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    // justify-content: end;
    img {
      padding: 24px 34px 0 34px;
    }
    h2 {
      // margin-top: -30px;
      // width: 212px;
      // height: 29px;
      font-family: "Pro Bold";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: #100e0e;
      padding-left: 10px;
    }
    p {
      // width: 212px;
      // height: 76px;
      font-family: "Pro Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #585656;
      margin-bottom: 117px;
    }
    button {
      box-sizing: border-box;
      gap: 8px;
      width: 212px;
      height: 56px;
      border: 1px solid #0071e4;
      border-radius: 8px;
      // flex: none;
      // order: 0;
      // flex-grow: 1;
    }
  }
  .card-2 {
    width: 228px;
    height: 500px;
    left: 363px;
    top: 102px;

    background: linear-gradient(180.04deg, #e685ff 0.04%, #f2f2f2 65.84%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      padding: 24px 34px 0 34px;
    }
    h2 {
      width: 212px;
      height: 58px;
      font-family: "Pro Bold";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: #100e0e;
      margin-bottom: 16px;
    }
    p {
      width: 212px;
      height: 114px;
      font-family: "Pro Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #585656;
      margin-bottom: 42px;
    }
    button {
      box-sizing: border-box;
      gap: 8px;
      width: 212px;
      height: 56px;
      border: 1px solid #0071e4;
      border-radius: 8px;
    }
  }
  .card-3 {
    width: 228px;
    height: 500px;
    left: 606px;
    top: 102px;

    background: linear-gradient(180.04deg, #7de9ff 0.04%, #f2f2f2 65.84%);
    border-radius: 16px;
    img {
      padding: 24px 34px 0 34px;
    }
    h2 {
      width: 212px;
      height: 58px;
      font-family: "Pro Bold";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: #100e0e;
      margin-bottom: 16px;
      margin-left: 7px;
    }
    p {
      width: 212px;
      height: 57px;
      font-family: "Pro Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #585656;
      margin-bottom: 94px;
    }
    button {
      box-sizing: border-box;
      gap: 8px;
      width: 212px;
      height: 56px;
      border: 1px solid #0071e4;
      border-radius: 8px;
      margin-left: 7px;
    }
  }
  .card-4 {
    width: 228px;
    height: 500px;
    left: 849px;
    top: 102px;

    background: linear-gradient(180.04deg, #ffe685 0.04%, #f7f7f7 65.84%);
    border-radius: 16px;
    img {
      padding: 24px 34px 0 34px;
    }
    h2 {
      width: 212px;
      height: 29px;
      font-family: "Pro Bold";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: #100e0e;
      margin-left: 5px;
      margin-bottom: 16px;
    }
    p {
      width: 212px;
      height: 76px;
      font-family: "Pro Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #585656;
      margin-bottom: 103px;
    }
    button {
      box-sizing: border-box;
      gap: 8px;
      width: 212px;
      height: 56px;
      border: 1px solid #0071e4;
      border-radius: 8px;
      margin-left: 7px;
    }
  }
  .card-5 {
    width: 228px;
    height: 500px;
    left: 1092px;
    top: 102px;

    background: linear-gradient(180.04deg, #adffc1 0.04%, #f2f2f2 65.84%),
      #f2f2f2;
    border-radius: 16px;

    img {
      padding: 24px 34px 0 34px;
    }
    h2 {
      width: 212px;
      height: 29px;
      font-family: "Pro Bold";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: #100e0e;
      margin-bottom: 16px;
    }
    p {
      width: 212px;
      height: 95px;
      font-family: "Pro Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #585656;
      margin-bottom: 83px;
    }
    button {
      box-sizing: border-box;
      gap: 8px;
      width: 212px;
      height: 56px;
      border: 1px solid #0071e4;
      border-radius: 8px;
      margin-left: 7px;
    }
  }
}
#pochta {
  background: #f9f9f9;
}

.wrapper-pochta {
  display: flex;
  margin-top: 21px;
  column-gap: 153px;
  .right {
    display: flex;
    flex-direction: column;
    h1 {
      width: 421px;
      height: 114px;
      font-family: "Pro Bold";
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 40px;
      color: #100e0e;
    }
    p {
      margin-top: -24px;
      width: 454px;
      height: 58px;
      font-family: "Pro Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: px;

      color: #585656;
    }
  }
  .card {
    width: 486px;
    height: 196px;
    background: linear-gradient(90.34deg, #f7355d 0.3%, #9747ff 101.33%);
    border-radius: 16px;
    h2 {
      width: 230px;
      height: 48px;
      font-family: "Pro Bold";
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 48px;
      color: #ffffff;
      margin-left: 40px;
      margin-top: 16px;
    }
    p {
      width: 288px;
      height: 24px;
      font-family: "Pro Regular";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
      margin-left: 40px;
      margin-top: 1px;
      margin-bottom: 16px;
    }
    input {
      box-sizing: border-box;
      width: 246px;
      height: 56px;
      background: #ffffff;
      border: 1px solid #dbdbdb;
      border-radius: 8px;
      margin-left: 32px;
      margin-right: 16px;
      padding-left: 24px;
    }
    button {
      background-color: #fff;
      color: #585656;
    }
    button:active {
      background-color: red;
      color: white;
      transition: all 0.5 ease;
    }
  }
}

.wrapper-text-2 {
  display: none;
}

.card-tab {
  display: none;
}

@media only screen and (max-width: 768px) {
  main {
    margin-top: -6px;
    #main {
      // height: 480px;
      // padding-top:100px;
      .wrapper-2 {
        width: 768px;
        height: 480px;
      }
      .left {
        display: none;
      }
      .right {
        margin-left: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 60px;
        // margin-top: 50px;
        // margin-top: -100px;
        .narx {
          column-gap: 19px;
        }
      }
      .left-ip {
        img {
          width: 269px;
          height: 324px;
          object-fit: contain;
        }

        display: block;
        // margin-top: -50px;
        margin-top: -99px;
        // margin-left: -10px;
      }
    }

    #body {
      .wrapper-body {
        h1 {
          margin-left: 110px;
        }
        h2 {
          margin-left: 20px;
          margin-top: 56px;
          margin-bottom: 24px;
        }
        .big-card {
          margin-left: 75px;
          column-gap: 40px;
        }
      }
    }

    #text {
      .wrapper-text {
        display: none;
      }
      .wrapper-text-2 {
        display: block;
        margin-top: 72px;
      }
    }

    #black {
      margin-top: 32px;
      .wrapper-black-2 {
        img {
          margin-left: 40px;
          width: 110px;
          height: 276px;
        }
      }
    }

    #news {
      .wrapper-body {
        h1 {
          margin-left: 110px;
        }
        h2 {
          margin-left: 20px;
          margin-top: 56px;
          margin-bottom: 24px;
        }
        .big-card {
          margin-left: 75px;
          column-gap: 40px;
        }
      }
    }

    // #delivery {
    //   .wrapper-delivery {
    //     display: flex;
    //     flex-wrap: wrap;
    //     row-gap: 8px;
    //     .card {
    //       display: none;
    //       // display: flex;
    //       // align-items: center;
    //       // width: 720px;
    //       // height: 158px;
    //       // background: #f9f9f9;
    //       // border-radius: 16px;
    //       // margin-left: 12px;
    //     }
    //     .card-tab {
    //       img {
    //         width: 64px;
    //         height: 64px;
    //       }
    //       div {
    //         // display: flex;
    //         // flex-direction: row;
    //         display: block;
    //         h2 {
    //           padding: 32px 394px 97px 114px;
    //           // margin-top: 30px;
    //           // width: 212px;
    //           height: 29px;
    //           left: 114px;
    //           top: 32px;

    //           font-family: "Pro Bold";
    //           font-style: normal;
    //           font-weight: 700;
    //           font-size: 24px;
    //           line-height: 29px;
    //           color: #100e0e;
    //         }
    //         p {
    //           width: 307px;
    //           height: 57px;
    //           font-family: "Pro Regular";
    //           font-style: normal;
    //           font-weight: 400;
    //           font-size: 16px;
    //           line-height: 19px;
    //           color: #585656;
    //         }
    //       }
    //       display: flex;
    //       align-items: center;
    //       justify-content: space-between;
    //       width: 720px;
    //       height: 158px;
    //       background: #f9f9f9;
    //       border-radius: 16px;
    //       margin-left: 12px;
    //       // display: block;
    //     }
    //     .card-2 {
    //       display: flex;
    //       align-items: center;
    //       width: 720px;
    //       height: 158px;
    //       background: #f9f9f9;
    //       border-radius: 16px;
    //       margin-left: 12px;
    //     }
    //     .card-3 {
    //       display: flex;
    //       align-items: center;
    //       width: 720px;
    //       height: 158px;
    //       background: #f9f9f9;
    //       border-radius: 16px;
    //       margin-left: 12px;
    //     }
    //     .card-4 {
    //       display: flex;
    //       align-items: center;
    //       width: 720px;
    //       height: 158px;
    //       background: #f9f9f9;
    //       border-radius: 16px;
    //       margin-left: 12px;
    //     }
    //     .card-5 {
    //       display: flex;
    //       align-items: center;
    //       justify-content: space-between;
    //       width: 720px;
    //       height: 158px;
    //       background: #f9f9f9;
    //       border-radius: 16px;
    //       margin-left: 12px;
    //     }
    //   }
    // }

    #delivery {
      .wrapper-delivery {
        display: flex;
        flex-wrap: wrap;
        row-gap: 8px;
        .card {
          width: 720px;
          max-height: 158px;
          height: 100%;
          padding: 24px 71px 32px 24px;
          background: #f9f9f9;
          border-radius: 16px;
          display: flex;
          flex-direction: row;
          align-items: center;

          img {
            // padding-bottom: 5px;
            padding: 0;
            width: 64px;
            height: 64px;
          }

          .card-txt {
            display: flex;
            flex-direction: column;
            padding-left: 26px;
            h2 {
              font-family: "Pro Bold";
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 29px;
              color: #100e0e;
              padding-top: 8px;
              padding-bottom: 8px;
              text-align: start;
            }
            p {
              font-family: "Pro Regular";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              color: #585656;
              text-align: start;
              padding-bottom: 0;
              max-width: 307px;
              padding-right: 16px;
              margin-bottom: 0;
              // margin-bottom: 1px;
            }
          }

          button {
            width: 212px;
            height: 56px;
            border: 1px solid #0071e4;
            border-radius: 8px;
            font-family: "Pro Medium";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #0071e4;
            margin-left: 10px;
          }
        }
        .card-2 {
          width: 720px;
          max-height: 158px;
          height: 100%;
          padding: 24px 71px 32px 24px;
          background: #f9f9f9;
          border-radius: 16px;
          display: flex;
          flex-direction: row;
          align-items: center;

          img {
            // padding-bottom: 5px;
            padding: 0;
            width: 64px;
            height: 64px;
          }

          .card-txt-2 {
            display: flex;
            flex-direction: column;
            padding-left: 26px;
            h2 {
              font-family: "Pro Bold";
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 29px;
              color: #100e0e;
              padding-top: 8px;
              padding-bottom: 8px;
              text-align: start;
              width: 225px;
              height: 29px;
            }
            p {
              font-family: "Pro Regular";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              color: #585656;
              text-align: start;
              padding-bottom: 0;
              width: 293px;
              height: 76px;
              padding-right: 16px;
              margin-bottom: 0;
              // margin-bottom: 1px;
            }
          }

          button {
            width: 212px;
            height: 56px;
            border: 1px solid #0071e4;
            border-radius: 8px;
            font-family: "Pro Medium";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #0071e4;
            margin-left: 30px;
          }
        }
        .card-3 {
          width: 720px;
          max-height: 158px;
          height: 100%;
          padding: 24px 71px 32px 24px;
          background: #f9f9f9;
          border-radius: 16px;
          display: flex;
          flex-direction: row;
          align-items: center;

          img {
            // padding-bottom: 5px;
            padding: 0;
            width: 64px;
            height: 64px;
          }

          .card-txt-3 {
            display: flex;
            flex-direction: column;
            padding-left: 26px;
            h2 {
              font-family: "Pro Bold";
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 29px;
              color: #100e0e;
              padding-top: 8px;
              padding-bottom: 8px;
              text-align: start;
              width: 298px;
              height: 29px;
            }
            p {
              font-family: "Pro Regular";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              color: #585656;
              text-align: start;
              padding-bottom: 0;
              width: 293px;
              height: 38px;
              padding-right: 16px;
              margin-bottom: 0;
              // margin-bottom: 1px;
            }
          }

          button {
            width: 212px;
            height: 56px;
            border: 1px solid #0071e4;
            border-radius: 8px;
            font-family: "Pro Medium";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #0071e4;
            margin-left: 20px;
          }
        }
        .card-4 {
          width: 720px;
          max-height: 158px;
          height: 100%;
          padding: 24px 71px 32px 24px;
          background: #f9f9f9;
          border-radius: 16px;
          display: flex;
          flex-direction: row;
          align-items: center;

          img {
            // padding-bottom: 5px;
            padding: 0;
            width: 64px;
            height: 64px;
          }

          .card-txt-4 {
            display: flex;
            flex-direction: column;
            padding-left: 26px;
            h2 {
              font-family: "Pro Bold";
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 29px;
              color: #100e0e;
              padding-top: 8px;
              padding-bottom: 8px;
              text-align: start;
              width: 298px;
              height: 29px;
            }
            p {
              font-family: "Pro Regular";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              color: #585656;
              text-align: start;
              padding-bottom: 0;
              width: 293px;
              height: 57px;
              padding-right: 16px;
              margin-bottom: 0;
              // margin-bottom: 1px;
            }
          }

          button {
            width: 212px;
            height: 56px;
            border: 1px solid #0071e4;
            border-radius: 8px;
            font-family: "Pro Medium";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #0071e4;
            margin-left: 20px;
          }
        }
        .card-5 {
          width: 720px;
          max-height: 158px;
          height: 100%;
          padding: 24px 71px 32px 24px;
          background: #f9f9f9;
          border-radius: 16px;
          display: flex;
          flex-direction: row;
          align-items: center;

          img {
            // padding-bottom: 5px;
            padding: 0;
            width: 64px;
            height: 64px;
          }

          .card-txt-5 {
            display: flex;
            flex-direction: column;
            padding-left: 26px;
            h2 {
              font-family: "Pro Bold";
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 29px;
              color: #100e0e;
              padding-top: 8px;
              padding-bottom: 8px;
              text-align: start;
              width: 298px;
              height: 29px;
            }
            p {
              font-family: "Pro Regular";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              color: #585656;
              text-align: start;
              padding-bottom: 0;
              width: 293px;
              height: 57px;
              padding-right: 16px;
              margin-bottom: 0;
              // margin-bottom: 1px;
            }
          }

          button {
            width: 212px;
            height: 56px;
            border: 1px solid #0071e4;
            border-radius: 8px;
            font-family: "Pro Medium";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #0071e4;
            margin-left: 20px;
          }
        }
      }
    }

    #pochta {
      .wrapper-pochta {
        width: 768px;
        height: 358px;
        .left {
          img {
            width: 224.56px;
            height: 173px;
            padding-top: 24px;
            padding-left: 24px;
          }
        }
        .right {
          h1 {
            margin-top: 32px;
            width: 339px;
            height: 76px;
            font-family: "Pro Bold";
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 38px;
            color: #100e0e;
          }
          p {
            width: 300px;
            height: 38px;
            font-family: "Pro Bold";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #585656;
            margin-top: 8px;
            margin-bottom: 16px;
          }
          .card {
            width: 279px;
            height: 63px;
            h2 {
              width: 115px;
              height: 24px;
              font-family: "Pro Bold";
              font-style: normal;
              font-weight: 700;
              font-size: 20px;
              line-height: 24px;
              color: #ffffff;
              margin-top: 8px;
              // margin-bottom: 4px;
            }
            p {
              width: 231px;
              height: 19px;
              font-family: "Pro Regular";
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
              color: #ffffff;
            }
            div {
              display: flex;
              margin-left: -30px;
              button {
                width: 160px;
                height: 56px;
                background: #e7e7e7;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  #main {
    // height: 480px;
    // padding-top:100px;
    .wrapper-2 {
      width: 320px;
      height: 320px;
      column-gap: 0px;
      img{
        margin-left: 5px;
      }
    }
    .left {
      display: none;
    }
    .right {
      // column-gap: 50px;
      // margin-left: 90px;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-left: 25px;

      // padding-top: 60px;
      // margin-top: 50px;
      // margin-top: -100px;
      img {
        width: 192.5px;
        height: 45px;
      }
      .narx {
        column-gap: 19px;
        display: flex;
        align-items: start;
        p {
          width: 20px;
          height: 24px;
        }
        h2 {
          // width: 12px;
          // height: 38px;
          font-size: 32px;
        }
        button {
          width: 160px;
          height: 40px;
        }
      }
    }
    .left-ip {
      img {
        width: 173px;
        height: 207px;
        object-fit: contain;
      }

      display: block;
      // margin-top: -50px;
      margin-top: -99px;
      // margin-left: -10px;
    }
  }

  .wrapper-black {
    margin-top: 32px;
    background-color: black;
    .wrapper-black-2{
      img {
      width: 5px;
      height: 163px;
    }
    }
  }

  .wrapper-black-2 {
    display: flex;
    align-items: center;

    h2 {
      width: 167px;
      height: 24px;
      margin-left: 88px;
      font-family: "Pro Bold";
      font-style: normal;
      font-weight: 700;
      font-size: 56px;
      line-height: 67px;
      color: #ffffff;
      margin-bottom: 16px;
    }
    p {
      width: 186px;
      height: 19px;
      margin-left: 88px;
      font-family: "Pro Medium";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      color: #ffffff;
      margin-bottom: 24px;
    }
    button {
      margin-left: 88px;
      width: 160px;
      height: 56px;
      background: #0071e4;
      border-radius: 8px;
      border: none;
      color: #fff;
    }
    button:hover {
      box-shadow: 0 0 8px black;
      background: white;
      transition: all 0.5s ease;
      color: #0071e4;
    }
    button:active {
      background: #7c6464;
      color: #0071e4;
      transition: all 0.5s ease;
      color: #100e0e;
    }
  }
}
